*.log
/I:/Meu Drive/ESTUDOS DATA SCIENCE/IMPORTAÇÃO E EXPORTAÇÃO DO BRASIL DE 1996 A 2023/Importacao_Exportacao_Brasil/
IMPORTAÇÃO E EXPORTAÇÃO DO BRASIL.pbix
TABELAS_AUXILIARES.gsheet
aux_municipios_alterado_comma.gsheet
leia-me.txt